Environmental-Simulation/Environmental-Simulation/x64/Debug
.vs/environmental-simulation.github.io/FileContentIndex/10f5305c-f4e0-43c5-85f2-27b819c2238e.vsidx
.vs/environmental-simulation.github.io/FileContentIndex/read.lock
.vs/environmental-simulation.github.io/v17/.wsuo
.vs/environmental-simulation.github.io/FileContentIndex/be7cf79c-10fa-4a6a-a852-494b74ad9d8b.vsidx
.vs/environmental-simulation.github.io/v17/Browse.VC.db
.vs/environmental-simulation.github.io/FileContentIndex/5f282793-8ede-4500-a247-027c3219a013.vsidx
.vs/environmental-simulation.github.io/v17/Browse.VC.db-shm
.vs/environmental-simulation.github.io/FileContentIndex/d7aa5120-1967-49b2-beba-ecea01d14551.vsidx
.vs/environmental-simulation.github.io/v17/Browse.VC.db-wal
.vs/environmental-simulation.github.io/v17/Browse.VC.opendb
.vs/ProjectSettings.json
.vs/environmental-simulation.github.io/FileContentIndex/ccb128d7-a9b5-474e-8947-99477481888e.vsidx
.vs/slnx.sqlite
.vs/environmental-simulation.github.io/FileContentIndex/03023629-2ba7-487b-a2fc-bf8680821884.vsidx
.vs/environmental-simulation.github.io/FileContentIndex/af8733b5-e035-4696-b683-2537487ab815.vsidx
*.vsidx
.vs/VSWorkspaceState.json
.vs/environmental-simulation.github.io/v17/ipch/AutoPCH/f35ff77715f560f1/ANIMALMODEL.ipch
Environmental-Simulation/x64/Debug/Environmental-Simulation.pdb
Environmental-Simulation/x64/Debug/Environmental-Simulation.exe
Environmental-Simulation/Environmental-Simulation/imgui.ini
Environmental-Simulation/.vs/Environmental-Simulation/v17/.suo
Environmental-Simulation/.vs/Environmental-Simulation/v17/.suo
Environmental-Simulation/Environmental-Simulation/imgui.ini
Environmental-Simulation/x64/Debug/Environmental-Simulation.exe
Environmental-Simulation/.vs/Environmental-Simulation/v17/.suo
Environmental-Simulation/Environmental-Simulation/imgui.ini
Environmental-Simulation/x64/Debug/Environmental-Simulation.exe
Environmental-Simulation/.vs/Environmental-Simulation/v17/.suo
Environmental-Simulation/Environmental-Simulation/imgui.ini
Environmental-Simulation/x64/Debug/Environmental-Simulation.exe
Environmental-Simulation/.vs/Environmental-Simulation/v17/.suo
*.db
*.ipch
*.exe
Environmental-Simulation/.vs/Environmental-Simulation/v17/.suo
*.db
*.db
